//********************************* 
//* PLAN-MAIN 
//*********************************
.plan__main {
        @include less.flexbox($al-items: center, $gap: 1.5rem);

    @at-root {
        .plan {
            &__icon {
                figure {
                    @include less.flexbox($al-items: center);
                }
            }
        
            &__info {
                font-size: 1.3rem;

                &-list {
                    @include less.flexbox($dir: column, $gap: .5rem);
                }
        
                &-time {
                    font-weight: 900;
                    color: map.get(abs.$clr, 'dk', 'blue-300');
                }
        
                &-price {
                    font-weight: 200;
                    color: map.get(abs.$clr, 'dk', 'blue-200');
                }
            }
        
            &__change {
                &-btn {        
                    &:active {
                        text-decoration: none;
                        color: map.get(abs.$clr, 'dk', 'blue-100');
                    }
                }
            }
        }
    }
}