//********************************* 
//* PLAN-CONTAINER 
//*********************************
.plan {
    &-container {
        @include less.flexbox($jt-content: space-between, $al-items: center);
        margin-block: 1.5rem 2.5rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: map.get(abs.$clr, 'lt', 'blue-200');
    }
}