@use 'sass:map';
@use '../01-abstracts/colors' as abs;
//********************************* 
//* MXIINS 
//*********************************
@mixin url-background($device) {
    background: {
        color: map.get(abs.$clr, 'lt', 'blue-100');
        image: url('https://said-alrove.github.io/order-summary-component/assets/svg/pattern-background-#{$device}.svg');
        size: cover;
        repeat: no-repeat;
    }
    @content;
}

@mixin btn($txt-color, $bg-color: false) {
    display: block;
    padding-block: 1.5rem;
    font: {
        size: 1.2rem;
        weight: 700;
    }
    text: {
        align: center;
        decoration: none;
    }
    border-radius: 1rem;
    @if $bg-color {
        background-color: $bg-color;
    }
    color: $txt-color;
    @content;
}